.hello-word {
  margin:auto;
}

.T-left-stroke {
  stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}
@keyframes T-left-move {
  0% {
    stroke-dashoffset:  7.75rem;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
.T-down-stroke {
  stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}
.E-left-stroke{
 stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}
.E-top-stroke{
 stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}
.E-mid-stroke{
 stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}
.E-bottom-stroke{
 stroke-dasharray:  7.75rem;
  stroke-dashoffset:  7.75rem;
  animation: T-left-move 20s ease forwards;
}

.H-left-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset:7.75rem;
  animation: T-left-move 20s ease forwards;
}

.H-mid-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}

.H-right-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}

.N-mid-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}
.N-left-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}
.N-right-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}
.Z-up-stroke{
   stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}
.Z-diag{
     stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;
}
.Z-bottom-stroke{
      stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards; 
}
.A-left-diag{
   stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards; 
}
.A-left-stroke{
   stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards;   
}
.A-right-diag{
    stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards; 
}
.V-down-stroke{
   stroke-dasharray: 7.75rem;
  stroke-dashoffset: 7.75rem;
  animation: T-left-move 20s ease forwards; 
}
.O-stroke {
  stroke-dasharray: 18.875rem;
  stroke-dashoffset: 18.875rem;
  animation: O-move 1s ease forwards;
}

.one-left-stroke {
  stroke-dasharray: 7.75rem;
  stroke-dashoffset:7.75rem;
  animation: T-left-move 20s ease forwards;
}

@keyframes O-move {
  0% {
    stroke-dashoffset: 18.875rem;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}
.C-stroke{
  stroke-dasharray: 18.875rem;
  stroke-dashoffset: 18.875rem ;
  animation: C-move 1s ease forwards; 
}
@keyframes C-move {
  0% {
    stroke-dashoffset: 18.875rem;
  }

  100% {
    stroke-dashoffset: 6.25rem;
  }
}